<div class="page-header">
    <h1 style="width: 15%;">My Tickets</h1> 
</div>

</br>

<div class="jumbotron text-center" ng-show="issue.loading">
<span class="glyphicon glyphicon-repeat spinner"></span>
<p>Loading...</p>
</div>

    
    <div class="row">
        <div class="col-sm-12">
    <table class="table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions"  id="myTicketsTable" dt-instance="vm.dtInstance"  width="100%" dt-column-defs="vm.dtColumnDefs">
            <thead>
            <tr>
                <th class="text-center" colspan="4">External</th>
                <th class="text-center" colspan="3">Internal</th>
                <th class="text-center" colspan="4">General</th>
            </tr>
            <tr>
                <!--<th></th>-->
                <th>Ticket ID</th>
                <th>Status</th>
                <th>Category</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Category</th>
                <th>Priority</th>
                <th>Created Date</th>
                <th>Module</th>
                <th>Assigned To</th>
                <th>Action</th>
            </tr>
            </thead>
            
            <tr ng-repeat="ticket in myTickets.tickets">
                            <td>{{ticket.mantisIssueID}}</td>
                            <td>{{ticket.mantisStatus}}</td>
                            <td>{{ticket.mantisCategory}}</td>
                            <td>{{ticket.mantisPriority}}</td>
                            <td>{{ticket.internalStatus}}</td>
                            <td>{{ticket.internalCategory}}</td>
                            <td>{{ticket.internalPriority}}</td>
                            <td>{{ticket.createdDate}}</td>
                            <td>{{ticket.module}}</td>
                            <td>{{ticket.assingedTo}}</td>
                            <td>
                                    <div class="btn-group">
                                            <a href="/editTickets/{{ticket._id}}"><button type="button" class="btn btn-default btn" ng-click="edit($index);"><i class="glyphicon glyphicon-pencil"></i></button></a>
                                            <button  type="button" ng-click="showCommentDisplay(ticket.mantisIssueID)" class="btn btn-default pull-left btn"><md-tooltip md-direction="bottom">Comments</md-tooltip><i class="glyphicon glyphicon-comment"></i></button>  
                                    </div>
                            </td>
            </tr>
        </table>

        

    </div>
    </div>

<div class="row show-hide-message" ng-show="issue.successMsg" >
<div class="alert alert-success">{{ issue.successMsg }}</div>
</div>

<div class="row show-hide-message" ng-show="issue.errorMsg" >
    <div class="alert alert-danger">{{ issue.errorMsg }}</div>
</div>